.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4rem 0 0 0;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    height: calc(100vh - 5rem);
    overflow-y: auto;
}